.container {
    min-height: 100vh;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.bg{
    min-height: 87vh;
    background-image: url("../public/background.png");
    background-repeat: repeat-y;
}*/

.main {
    margin-top: 4em;
    min-height: 87vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: -0.5em;
    padding:1em;
    height: 2em;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorchid;
    color: #000;
}

.title a {
    color: #000;
    text-decoration: none;
}

.title {
    margin-left: -0.5em;
    line-height: 1.15;
    font-size: 15vw;
    text-shadow: 4px 5px 6px darkorchid;
    text-align: center;
}

.title:hover {
    font-weight: lighter;
}
